* {
    margin: 1%;
}
form {
    display: flex;
    justify-content: center;
}
.display-none {
    display: none;
}

#top-scores {
    position: absolute;
    top: 20px;
    left: 20px;
}
#timer {
    position: absolute;
    top: 20px;
    right: 20px;
}
#start-button {
    display: flex;
    justify-content: center;
}
#questions {
    display: flex;
    justify-content: center;
}